@model MassTagger2.Models.ViewModels.SubredditViewModel

<li class="ui-state-default">
    @using (Html.BeginCollectionItem("Subreddits"))
    {
        <div class="row">
            <div class="col-sm-1">
                <img src="~/Content/Images/delete.png" alt="Remove" height="20" width="20" class="removeRow" />
            </div>
            <div class="col-sm-4">@Model.Name @Html.HiddenFor(model=>model.Name) @Html.HiddenFor(model=>model.Id)</div>
            <div class="col-sm-3">Ignore: @Html.EditorFor(model => model.Ignored)</div>
            <div class="col-sm-3">@Html.EnumDropDownListFor(model=>model.TagColor)</div>
        </div>
    }
</li>
